@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-blue: #1e293b;
  --color-brand-yellow: #f7df1e;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply text-slate-800 bg-slate-50 antialiased selection:bg-brand-yellow selection:text-brand-blue;
  }
}
